<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Encrypt String</title>
</head>

<body>
    <div class="container">
        <h1>Encrypt a String</h1>
        <form method="post" enctype="multipart/form-data">
            <div>
                <label for="encryption">Select encryption method:</label>
                <select id="encryption" name="encryption">
                    <option value="caesar">Caesar</option>
                    <option value="otp">OTP</option>
                    <option value="vernam">Vernam-Vigenère</option>
                </select>
            </div>
            <div>
                <label for="text">Enter text to encrypt:</label>
                <input type="text" id="text" name="text">
            </div>
            <div>
                <label for="file">Or upload a text file:</label>
                <input type="file" id="file" name="file">
            </div>
            <div id="key-container" style="display:none;">
                <label for="key">Enter key:</label>
                <input type="text" id="key" name="key">
            </div>
            <div id="shift-container" style="display:none;">
                <label for="key">Enter shift:</label>
                <input type="text" id="shift" name="shift">
            </div>
            <button type="submit">Encrypt</button>
        </form>
        {% if result %}
        <h2>Encrypted Result:</h2>
        <p>{{ result }}</p>
        {% endif %}
    </div>
    <script>
        document.getElementById('encryption').addEventListener('change', function () {
            var keyContainer = document.getElementById('key-container');
            var shiftContainer = document.getElementById('shift-container');
            if (this.value === 'vernam') {
                keyContainer.style.display = 'block';
                shiftContainer.style.display = 'none';
            } else if (this.value === 'caesar') {
                keyContainer.style.display = 'none';
                shiftContainer.style.display = 'block';
            } else {
                keyContainer.style.display = 'none';
                shiftContainer.style.display = 'none';
            }
        });
    </script>
</body>

</html>