/* static/style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe6e6;
    color: #b30000;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #b30000;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="file"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #b30000;
    border-radius: 5px;
}

button {
    background-color: #b30000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3333;
}

h2 {
    margin-top: 30px;
}

p {
    font-size: 1.2em;
}
